body { 
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color: #F0FFFF; 
    font-family: 'Courier New', monospace;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
}

main {
    height: 100vh;
}

#game-controller {
    display: flex;
    flex-direction: column;
    background: rgba(235,255,255,0.9);
    cursor: move;
    position: absolute;
    width: fit-content;
    padding: 5px;
    top: 5px;
    right: 50px;
}
 
#game-controller > * {
    margin: 3px 3px; 
}


